<!DOCTYPE html>
<html>
<head>
<title>ALPR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

<header class="w3-container w3-theme w3-padding" id="myHeader" style="height:150px">
 
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">License Plate Recognition</h1>
    <div class="w3-padding-32">
      
    </div>
  </div>
</header>

  <div class="w3-card w3-container" style="height:500px">
  
   
 <a style="text-decoration:none;" href="{{ url_for('uploads') }}"><font color="Green"><center><h1>Click to Continue</h1></center><br>
  <center><img src="static/img/car2.jpg" height="250" alt="" /> </a></center>

</body>
</html>
